.h2-title{
    font-size: 26px;
    font-family: 'BenchNine', sans-serif;
    color: var(--main-gold-color);
    padding-top: 15px;
}

.p-title{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: var(--white-text-color);
    text-align: left;
    padding-left: 20px;
}

.h1{
    font-size: 46px;
    font-family: 'BenchNine', sans-serif;
    color: var(--main-gold-color);
    padding-top: 100px;
    padding-bottom: 20px;
    z-index: 2;
}

.p-top{
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    padding-top: 20px;
}


.block1{
    display: grid;
    grid-template-columns: 15% 15% 1fr;
    padding: 32px 32px;
    background-color: var(--main-bg-color);
    margin: 20px 200px;

}

.block2{
    display: grid;
    grid-template-columns: 15% 15% 1fr;
    padding: 32px 32px;
    background-color: var(--main-bg-color);
    margin: 20px 200px;
}

.block3{
    display: grid;
    grid-template-columns: 15% 15% 1fr;
    grid-template-rows: 20%;
    padding: 32px 32px;
    margin: 20px 200px;
    background-color: var(--main-bg-color);
    z-index: 2;
}

.whiteline{
    height: 32px;
    width: auto;
}

.container{
    background:url(/img/hand-rolling-cigar-production-21020856.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    background: rgba(0,0,0, 0.5);
}




@media (max-width:767px) {
    .container{
        background-position: center;
    }
    .block1 {
        grid-template-columns: auto;
        padding: 32px 32px;
        margin: 20px 20px;
    }
    .block2{
        grid-template-columns: auto;
        padding: 32px 32px;
        margin: 20px 20px;
    }
    .block3{
        grid-template-columns: auto;
        padding: 32px 32px;
        margin: 20px 20px;
    }
}
